{% extends "layout.html" %}

{% block title %}
	Vielen Dank!
{% endblock %}

{% block main %}
    <div class="order-success-container">
        <h3 class="uppercase-h3">Vielen Dank!</h2>
        <p>Vielen Dank für deine Bestellung! Du erhältst innerhalb 
            der nächsten 24h eine Bestellbestätigung per E-Mail.</p>
        <p>Bitte sende uns den fälligen Betrag innerhalb von 48h an die
            in der E-Mail angegebene PayPal-Adresse. Wir senden dir dann dein Ticket zu.
        </p>
        <p>Wir freuen uns auf deinen Besuch bei Neckar Games!</p>
    </div>

{% endblock %}