{% extends "layout.html" %}

{% block title %}
	Impressum
{% endblock %}

{% block main %}
<h1 class="page-heading">Impressum</h1>
<div class="container-fluid impressum-container">
    <p>
        <div class="underline bold">Anbieter:</div>
        <div>Cyber-Fun Hinz & Özgür GmbH</div>
        <div>Bahnhofstr. 23</div>
        <div>69151 Neckargemünd</div>
    </p>
    <p>
        <div class="underline bold">Kontakt:</div>
        <div>Telefon: +496223/63451</div>
        <div>E-Mail: info@cyber-fun.de</div>
        <div>Website: www.cyber-fun.de</div>
    </p>
    <p>
        <div class="underline bold">Bei redaktionellen Inhalten:</div>
        <div>Verantwortlich nach § 55 Abs.2 RStV</div>
        <div>Moritz Schreiberling</div>
        <div>Musterstraße 12</div>
        <div>69151 Neckargemünd</div>
    </p>
</div>

{% endblock %}