 <!--Terminplan-->
<div class="schedule-grid-container {{ schedule_bg }}">
    <h1 class="uppercase-h1">Das erwartet dich...</h1>
    <div class="schedule-grid">
        <!--Tag 1-->
        <div class="schedule-grid-item schedule-grid-headings">
            <h5>Freitag</h5>
            <h1>Jul 19</h1>
        </div>

        <div class="schedule-grid-item schedule-grid-item-event">
            <div>16:00 Uhr</div>
            <div>Welcoming</div>
        </div>

        <div class="schedule-grid-item schedule-grid-item-event">
            <div>18:00 Uhr</div>
            <div>Start der Turniere</div>
        </div>

        <div class="schedule-grid-item schedule-grid-item-event">
            <div>20:00 Uhr</div>
            <div>Vorstellung Spieleneuheiten</div>
        </div>

        <!--Tag 2-->
        <div class="schedule-grid-item schedule-grid-headings">
            <h5>Samstag</h5>
            <h1>Jul 20</h1>
        </div>
        <div class="schedule-grid-item schedule-grid-item-event">
            <div>12:00 Uhr</div>
            <div>Retro-Gaming-Area öffnet</div>
        </div>
        <div class="schedule-grid-item schedule-grid-item-event">
            <div>14:00 Uhr</div>
            <div>Fortsetzung der Turniere</div>
        </div>
        <div class="schedule-grid-item schedule-grid-item-event">
            <div>19:00 Uhr</div>
            <div>Let's Sing Wettbewerb</div>
        </div>

        <!--Tag 3-->
        <div class="schedule-grid-item schedule-grid-headings">
            <h5>Sonntag</h5>
            <h1>Jul 21</h1>
        </div>
        <div class="schedule-grid-item schedule-grid-item-event">
            <div>10:00 Uhr</div>
            <div>Brunch 'n Play Gaming-Frühstück</div>
        </div>
        <div class="schedule-grid-item schedule-grid-item-event">
            <div>12:00 Uhr</div>
            <div>Turnier-Finalrunde</div>
        </div>
        <div class="schedule-grid-item schedule-grid-item-event">
            <div>15:00 Uhr</div>
            <div>Siegerehrung und Abschlussfeier</div>
        </div>
    </div>

</div>