<!--Turnierübersicht-->
<div class="img-grid-1x2 bg-color4 tournament-grid">
    <div>
        <img id="gamepad-grid-pic" src="static/img/gamepad-white.png" alt="Bild von Gamern, die gemeinsam am Computer spielen">
    </div>
    <div>
        <h1>3 Tage - 3 Turniere!</h1>
        <div class="grid-3x1">
            <div class="who-when-where-grid-item">
                <h1>FC 24</h1>
                <p>Du bist E-Sport-Fan? Dann stelle dein Talent bei unserem FC 24 Turnier unter Beweis!</p>
            </div>
            <div class="who-when-where-grid-item">
                <h1>Fortnite</h1>
                <p>Du liebst Action-Spiele? Dann tobe dich bei unserem Fortnite Turnier so richtig aus!</p>
            </div>
            <div class="who-when-where-grid-item">
                <h1>Super Mario 64</h1>
                <p>Du liebst Jump and Run Klassiker? Dann sammele alle Sterne bei Super Mario 64!</p>
            </div>
        </div>
    </div>
</div>