{% extends "layout.html" %}

{% block title %}
	Über uns
{% endblock %}

{% block main %}
    <h1 class="page-heading">Über uns</h1>
    <div class="img-grid-1x2 bg-color1 img-grid-team-pic">
        <div class="centered-text-container">
            <p>
                Willkommen bei Cyber-Fun Hinz & Özgür, wo das Spielen nicht nur ein Hobby, sondern eine Leidenschaft ist! Wir sind ein Team aus fünf begeisterten 
                Individuen, die sich zusammengeschlossen haben, um Gaming-Events der Extraklasse zu kreieren und durchzuführen.
            </p>
            <p>
                In unserem kleinen, aber kraftvollen Team steckt jede Menge Herzblut und Expertise. Von der Planung bis zur Durchführung, wir sind mit vollem Einsatz dabei, um 
                sicherzustellen, dass jedes unserer Events unvergesslich wird.
            </p>
        </div>
        <div class="img-object-fit-contain-container change-order-sm padding-bottom-sm-0">
            <img id="cf-team-pic" src="static/img/cf-team.png" alt="Bild vom Cyber Fun Team">
        </div>
    </div>

    <div class="img-grid-1x2 bg-color1 img-grid-team-pic" style="padding-bottom: 2rem;">
        <div class="centered-text-container">
            <p>
                Wir sind stolz darauf, in der Vergangenheit eine Reihe spektakulärer Gaming-Events veranstaltet zu haben, die die Grenzen des Gaming-Erlebnisses 
                neu definiert haben. Von epischen Gaming-Turnieren bis hin zu ausgelassenen LAN-Parties mit über 100 Teilnehmern - wir haben alles erlebt und sind bereit 
                für mehr!
            </p>
            <p>
                Als Gaming-Enthusiasten wissen wir, wie wichtig es ist, eine Community zu schaffen, die zusammenkommt, um ihre Leidenschaft zu teilen. Deshalb sind wir immer 
                auf der Suche nach neuen und aufregenden Möglichkeiten, um das ultimative Gaming-Erlebnis zu bieten.
            </p>
        </div>
        <div class="img-object-fit-contain-container padding-bottom-sm-0" id="ueber-uns-gamers-pic-container">
            <img id="gamers-Pic03" src="static/img/gamers-Pic03.png" alt="Bild von Personen, die an Computern spielen">
        </div>
    </div>
    <div></div>
{% endblock %}